<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<!--日志路径-->
	<property name="LOG_PATH" value="${APP_HOME}/logs/"/>
	<!--日志文件名-->
	<property name="LOG_FILE" value="eurekaService"/>
	<!--消息输出格式 -->
	<property name="MSG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -> %msg %n"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--文件名称命名模式 -->
			<FileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
			<!--单个文件最大值-->
			<MaxFileSize>10MB</MaxFileSize>
			<!--文件保留天数 -->
			<maxHistory>30</maxHistory>
			<!--超过此值会删除旧日志 -->
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<root level="INFO" >
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE" />
	</root>
<!-- 	<logger name="com.hengbao" level="DEBUG" additivity="false"> -->
<!-- 		<appender-ref ref="CONSOLE" /> -->
<!-- 		<appender-ref ref="FILE" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="org.springframework" level="INFO" additivity="false"> -->
<!-- 		<appender-ref ref="CONSOLE" /> -->
<!-- 		<appender-ref ref="FILE" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="org.hibernate" level="INFO" additivity="false"> -->
<!-- 		<appender-ref ref="CONSOLE" /> -->
<!-- 		<appender-ref ref="FILE" /> -->
<!-- 	</logger> -->
</configuration>
